/* Fonte "Aleo" */
@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&family=Passion+One:wght@400;700;900&display=swap');

/* Fonte "Abeezee" */
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');

:root {
    --fonte-destaque: 
}

/* Configurações de reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #008A99;
}

/* Header/menu */

header {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.logo-principal {
    opacity: 100%;
    height: 120px;
    width: 120px;
    background-color: #008A99;
    border-radius: 100%;
}

nav {
    border: 2px dotted red;
    width: 465px;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

.menu li { 
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(0, 138, 153, 0.5) 70%);
    padding: 10px;
    border-radius: 10px;
}

.menu li:hover {
    background-color: rgba(255, 255, 255, 0.5);
    transform: translate(-2px, -2px);
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.15);
    transition: 0.2s;
}

.menu a {
    text-decoration: none;
    color: #002F87;
    font-weight: bold;
}

/* Fundo do site com gradiente */

main {
    background-image: linear-gradient(to bottom, white, #005B67);
}

/* Seção de destaque */

.destaque {
    background-image: url(../imagens-projeto/imagem-fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 840px;
    width: 100%;
}

.conteudo-destaque {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    background-color: rgba(0, 128, 214, 0.42);
}

.templo-do-sol {
    max-width: 600px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeUp 1.2s ease forwards;
}

.conteudo-destaque > p {
    color: white;
    font-family: Aleo;
    font-size: 24px;
    max-width: 500px;
    text-align: center;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeUp 1.2s ease forwards;
}

.area-botao > ul {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    gap: 20px;
    margin-top: 50px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeUp 1.2s ease forwards;
}

.area-botao > ul > li {
    background-image: linear-gradient(to right, #FFEAB2, #FAB700);
    padding: 22px;
    border-radius: 10px;
}

.botao {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.area-botao > ul > li:hover {
    cursor: pointer;
    background: linear-gradient(to right, #FFEAB2, #FA8100);
    transform: translate(-3px, -3px);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    transition: 0.2s;
}

/* Animação suave */

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Seção de atrações */

/* Espaçamento entre a seção anterior */

.atracoes {
    margin-top: 50px;
}

/* Estilização do texto principal */

.atracoes > h1, .atracoes > p {
    text-align: center;
    color: #002F87;
    font-family: Abeezee;
    font-weight: 400;
}

.atracoes > h1 {
    font-size: 90px;
}

.atracoes > p {
    font-size: 25px;
}

.cards {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 22px;
}

.cards h3, .cards p {
    font-family: Aleo;
}

.cards1, .cards2 {
    display: flex;
    flex-flow: row wrap;
    gap: 22px;
    justify-content: center;
}

.card-imagem {
    height: 100px;
    width: 100px;
    margin: 15px 0 0 15px;
}

.tobogas {
    height: 440px;
    width: 430px;
    background-image: linear-gradient(135deg, #874BFF, #0260CB);
    border-radius: 70px;
    padding: 20px;
}
.piscinas {
    height: 440px;
    width: 430px;
    background-image: linear-gradient(135deg, #0051FF, #0099FF);
    border-radius: 70px;
    padding: 20px;
}
.rio {
    height: 440px;
    width: 430px;
    background-image: linear-gradient(135deg, #00E99C, #007283);
    border-radius: 70px;
    padding: 20px;
}
.infantil {
    height: 440px;
    width: 430px;
    background-image: linear-gradient(135deg, #FF7700, #FF7F81);
    border-radius: 70px;
    padding: 20px;
}

.conteudo-card {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
}

.conteudo-card > h3 {
    font-size: 36px;
}

.conteudo-card > p {
    font-size: 30px;
}