/* Resetando estilos padrão do navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Definindo variáveis para cores e fontes */
:root {
    --primary-color: #2D9CDB;
    --secondary-color: #2076d2;
    --background-color: linear-gradient(to bottom, white, #008A99);
    --text-color: #0d3055;
    --error-color: #e74c3c;
    --success-color: #3cb462;
    --font-family: 'Roboto', sans-serif;
}

html {
    height: 100vh;
    min-height: 100vh;
}

/* Estilos globais */
body {
    font-family: var(--font-family);
    min-height: 100%;
    color: var(--text-color);
    line-height: 1.6;
    margin: 0;
    background-image: var(--background-color);
    background-attachment: fixed;
}

.container {
    width: 90vw;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 20px 0 20px;
}

/* Estilos para cabeçalhos */
h1 {
    font-size: 40px;
}

h1, h2 {
    color: var(--text-color);
    text-align: center;
}

/* Estilos para formulários */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: var(--secondary-color);
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="file"],
input[type="date"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

button {
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}

/* Estilos para tabelas */
table {
    border-collapse: collapse;
    margin-bottom: 0px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 1200px;
}

.scroll {
    overflow-x: auto;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: var(--secondary-color);
    color: #fff;
}

/* Estilos para imagens */
.thumbnail {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 4px;
}

.update-image {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 15px;
}

/* Estilos para mensagens */
.message {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
}

.success {
    background-color: var(--success-color);
    color: #fff;
}

.error {
    background-color: var(--error-color);
    color: #fff;
}

/* Estilos para links */
a {
    color: var(--primary-color);
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #2980b9;
}

/* Estilos para o menu principal */
.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: stretch;
    /* width: 100%; */
    padding: 20px;
}

.container-menu {
    display: flex;
    width: 100%;
    height: 86vh;
    justify-content: center;
}

.menu {
    flex-wrap: wrap;
    align-content: space-evenly;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    font-size: 20px;
}

.menu li {
    margin: 0 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
}

.menu a {
    display: flex;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: var(--text-color);
    border: 1px solid rgba(51, 51, 51, 0.2);
    border-radius: 4px;
    transition: background-color 0.3s;
}

.menu a:hover {
    background-color: rgba(255, 255, 255, 1);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
}

.cadastro {
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(0, 138, 153, 0.5) 70%);
}

.cadastro:hover {
    transform: translate(-5px, -5px);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
    transition: 0.1s;
}

/* Botão de sair */
.logout {
    padding: 10px 20px;
    background-color: #2980b9;
    color: white;
    border: 1px solid rgba(51, 51, 51, 0.2);
    border-radius: 4px;
    transition: background-color 0.3s;
    flex-grow: 0;
    width: 100px;
    height: 50px;
    text-align: center;
}
♦
.logout:hover {
    background-color: #20618b;
    color: white;
}

/* Estilos para ações na tabela */
.actions {
    display: flex;
    gap: 10px;
}

.actions a {
    padding: 5px 10px;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
}

.actions a:hover {
    background-color: #2980b9;
}

/* Estilo para o botão de voltar */
.back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--secondary-color);
    color: #fff;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.back-button:hover {
    background-color: #34495e;
}

/* Estilos para ações na tabela */

table td a {
    display: inline-block;
    padding: 5px 10px;
    margin: 2px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
    transition: background-color 0.3s;
}

table td a:hover {
    background-color: #2980b9;
}

/* Estilo específico para o botão Excluir */
table td a:last-child {
    background-color: #e74c3c;
}

table td a:last-child:hover {
    background-color: #c0392b;
}

/* ______________________________________________________________________ */
/* Estilos responsivos */

@media (max-width: 768px) {
    h1 {
        font-size: 32px;
    }

    .container {
        padding: 10px 10px 0 10px;
    }

    table {
        font-size: 14px;
    }

    th, td {
        padding: 8px;
    }
}